SpeechRecognition
PyAudio
openai-whisper
torch
pywin32
google-genai
python-dotenv
pystray
Pillow
plyer
psutil
edge-tts
pygame
customtkinter
pvporcupine
pyautogui
google-api-python-client
google-auth-httplib2
google-auth-oauthlib